# Ignore file for VS

# use glog syntax
syntax: glob

# Files wildcards
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*._i.c
*._p.c
*.tlb
*.tlh
*.bak
*.cache
*.Cache
*.ncb
*.log
*.ilk
*.sbr
*.scc
*.DS_Store
*.resharper
*.suo
*.vs10x
*.orig
*.docstates
*.old
*.pdsync
*.trx
*.dbmdl
*.ncrunch*
*.syncdb
[Tt]humbs.db
[Bb]in
[Db]ebug*/
[Oo]bj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
testimpactdata.sdf
glob:Luliti.gpState
UpgradeLog.XML
UpgradeLog6.XML
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
UpgradeLog2.XML
TesteResult*/
TraceAndTestImpact.testsettings
Local.testsettings
build/*
*.scgdat
.vs/*
*/.vs/*
/packages
node_modules
*.js.map
out-tsc
dist
package-lock.json


