@model string

<div style="margin-top:50px">
    <h3>Bem vindo ao Web Chat</h3>
    <div class="row">
        <div style="color:red">
            @Html.ValidationSummary()
        </div>
        <form action="@Url.Action("Index")" method="post" class="form-inline">
            <div class="form-group">
                <label class="control-label" for="userName">Apelido</label>
                <input type="text" class="form-control" value="@Model" placeholder="Insira um apelido" name="userName" id="userName" />
            </div>

            <input type="submit" class="btn btn-primary" value="Entrar" />
        </form>
    </div>
</div>